*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

html {
  @media only screen and (min-width: 1550px) {
    font-size: 75%;
  }

  @media only screen and (min-width: 1900px) {
    font-size: 78%;
  }

  @media only screen and (min-width: 2100px) {
    font-size: 90%;
  }

  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  color: $color-text;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-background;
}
